---

- name: Make sure the ssh server is installed
  ansible.builtin.package:
    name: openssh-server
    state: present
  become: true
  become_user: root

- name: "Set SSH server option {{ item.key | default('option') }}"
  ansible.builtin.lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: '^{{ item.key }}'
    line: '{{ item.key }} {{ item.value }}'
    validate: /usr/sbin/sshd -tf %s
  loop: "{{ ssh_server_set_options | dict2items }}"
  notify: Restart ssh-server
  become: true
  become_user: root

- name: "Comment SSH server option {{ item | default('option') }}"
  ansible.builtin.lineinfile:
    dest: "/etc/ssh/sshd_config"
    regexp: '(^{{ item }} .*)'
    line: '# \1'
    backrefs: true
    validate: /usr/sbin/sshd -tf %s
  loop: "{{ ssh_server_comment_options }}"
  notify: Restart ssh-server
  become: true
  become_user: root

- name: "Remove deprecated ssh option {{ item | default('option') }}"
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item }}"
    state: absent
    validate: /usr/sbin/sshd -tf %s
  loop: "{{ ssh_server_remove_options }}"
  notify: Restart ssh-server
  become: true
  become_user: root
